logging:
    level:
        ROOT: ERROR
        com.clashhorn: DEBUG
        org.springframework: INFO
        
server:
    port: 8080
    static-content: file:../clash-horn-web-client/public/
    
clash-api:
    baseUrl: https://api.clashofclans.com/v1
    accessToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjNlNmMwMDQ0LWQyMDEtNGU4Yy1iNWEyLWM2NDc2ZjM5OTBjNCIsImlhdCI6MTUwNjExODcwOCwic3ViIjoiZGV2ZWxvcGVyLzNhMTk2MmY1LWNjNmYtNzg1OC0wODViLTFmN2IxMTJlNjNiNSIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjE3Ny45OS41My4xNjAiXSwidHlwZSI6ImNsaWVudCJ9XX0.Z51Ttdr6aVOE-THkNN3t3av5ICBXH1dkFUbMMXY4zdDLeis-VFDBRDAS3imp_G6m10LdBFdDBZ3IQnzCfOv1wg
    
---
spring:
    profiles: guilaaf-dev
    
clash-api:
    accessToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjgyMzBiZDIzLWFlNDItNDBmZS1iNTUwLWEyYzFhYTdhY2NlNyIsImlhdCI6MTUwNjIxNjI0NCwic3ViIjoiZGV2ZWxvcGVyLzA5YjFlMzcyLTA2M2MtYjA1OC03YjFjLWJmNzBjNDVjNTIyYSIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjE4Ny41OC4xNzYuMjUyIl0sInR5cGUiOiJjbGllbnQifV19.R8KFEIPjsRpUbJ-cFRjUa6qhIDA7R_cAjEFwl91DdRWik-YaxGlhCVEAS80QK--QO7r71qj-F4xs784v-0lwAQ

---
spring:
    profiles: production

logging:
    pattern:
        console: 
    file: /home/ec2-user/clash-horn.log

server:
    port: 80
    static-content: file:///home/ec2-user/clash-horn/clash-horn-web-client/public/
    
clash-api:
    accessToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6ImRlZDUzYzczLTNmNTgtNGJmZC05NzAyLTIwZWRkNDBhOTNiNiIsImlhdCI6MTUwNTU2NjYxNiwic3ViIjoiZGV2ZWxvcGVyLzNhMTk2MmY1LWNjNmYtNzg1OC0wODViLTFmN2IxMTJlNjNiNSIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjU0LjE4Ny4yMjkuNjAiLCIxNzcuMTM0LjE3OC41MCJdLCJ0eXBlIjoiY2xpZW50In1dfQ.Gc5CzDtzFmSrfrkPVX4eV4I84SpZW089Q2erjDTV-kV3CoJrydkah-e6hrGO9ExyqWnk4arKftr0JcEgxZP65A