.wp {

    .row {
        background-color: @textPrimaryColor;
        border: 1px solid @dividerColor;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-top: 10px;
        -moz-box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.15);
        
        @media (min-width: 992px) {
            .row;
            margin-bottom: 10px;
        }
    }

    h4 {
        .coc-font;
        font-weight: bolder; 
    }
    
    .wp-queue {
        overflow: hidden;
        white-space: nowrap;
        padding-bottom: 5px;
        
        @media (min-width: 992px) {
            padding-bottom: 2px;
        }
        
        .wp-queue-item {
            .coc-font;
            .clickable;
            background-image: url('../../img/queue-head.png');
            background-color: @accentColor;
            background-size: 24px;
            background-repeat: no-repeat;
            padding-left: 26px;
            height: 28px;
            display: inline-block;
            color: #fff;
            line-height: 31px;
            margin-right: 3px;
            margin-left: 3px;
            padding-right: 8px;
            background-position-y: 2px;
            font-size: 11px;
            border-radius: 3px;
            box-shadow: 2px 2px 0px 0 rgba(0, 0, 0, 0.15);
        }
        
        .wp-queue-item:hover {
            text-decoration: none;
        }
    }
    
    .wp-actions {
        position: absolute;
        top: 15px;
        right: 15px;
        
        @media (min-width: 992px) {
            bottom: 20px;
            right: 10px;
            top: auto;
        }
    }
    
}

